#landing {
  font-family: "Poppins", sans-serif;
}

#landing #main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  color: white;
  background-color: #3498db;
}

#landing footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
  background-color: #333;
  color: white;
}

#landing footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
