*{
  margin: 0; 
  padding: 0; 
}

#header {
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: space-between;
  align-items: center;
  background-color: #455d7a;
  color: white;
  padding: 20px;
}

/*#header-title */

#header-navigation{
  display: flex;
  gap: 20px; 
  align-items: center;
}

#header #header-navigation{
  list-style-type: none;
}

#header #header-navigation li a{
  color: white; 
  font:bold; 
  text-decoration: none;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: white;
}
main{
  padding-top: 20px;
}
#pdf {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    cursor: pointer;
}
#pdf:hover{
   background-color: #FFA500;
}