#seeInventory {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  padding-top: 40px;
}

#seeInventory table {
  width: 100%;
  border-collapse: collapse;
  width: 80%;
}

#seeInventory table,
th,
td {
  border: 1px solid #ccc;
}

#seeInventory th,
td {
  padding: 8px;
  text-align: center;
}

#seeInventory tr:nth-child(even) {
  background-color: #f2f2f2;
}

#seeInventory th {
  background-color: #333;
  color: white;
}

#seeInventory .button-container {
  text-align: center;
}

#seeInventory .delete-button,
#seeInventory .tender-button {
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

#seeInventory .delete-button {
  background-color: #f44336;
  color: white;
}

#seeInventory .report-button {
  background-color: #ff9800;
  color: white;
}